# ADS500B
# Final Project: Data Analysis and Preliminary Analytics

Team members:
- Ghassan Seba
- Landon Padgett
- Muris Saab

------------------------------------------------------------------------------

There are four sections of the final project. You and your team are expected to perform the following tasks within each section to fulfill the project requirements.

### 1\. Data Importing and Pre-processing

#### 1.1 Import dataset and describe characteristics such as dimensions, data types, file types, and import methods used.

In [103]:
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')


# import dataset
dataset = 'https://raw.githubusercontent.com/murissaab1976/ADS500B/main/online_shoppers_intention.csv'
df = pd.read_csv(dataset)

In [104]:
# Get the dimensions and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12202 non-null  float64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12195 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12207 non-null  float64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(9), int64(5), object(2)
memory usage: 1.5+ MB

In [105]:
# Get the file type (based on file extension)
file_type = os.path.splitext(dataset)[1]
file_type

'.csv'

In [106]:
# Get the import method used
pd.read_csv.__module__

'pandas.io.parsers.readers'

#### 1.2 Clean, wrangle, and handle missing data.

In [107]:
# Identify columns with missing values
cols_with_missing = df.columns[df.isna().any()].tolist()
cols_with_missing

['Informational', 'PageValues', 'OperatingSystems']

In [108]:
# replace missing values with the median of the column
df['Informational'] = df['Informational'].fillna(df['Informational'].median())
df['PageValues'] = df['PageValues'].fillna(df['PageValues'].median())
df['OperatingSystems'] = df['OperatingSystems'].fillna(df['OperatingSystems'].median())

In [109]:
# verify no more columns with missing values
cols_with_missing = df.columns[df.isna().any()].tolist()
cols_with_missing

[]

#### 1.3 Transform data appropriately using techniques such as aggregation, normalization, and feature construction.

**Aggregation:** Create a monthly view by aggregating the sum of all values by month

In [112]:
agg_df = df.groupby('Month').sum()
agg_df

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue
Month,,,,,,,,,,,,,,,,
Aug,1358,46208.585717,235.0,15377.720000,16566,5.510590e+05,7.885283,16.335648,2547.019747,0.0,897.0,1030,1407,1521,96,76
Dec,3793,135799.069028,873.0,65745.780954,48347,1.919510e+06,34.797567,71.329893,11637.953958,0.0,3891.0,4513,5861,7026,366,216
Feb,100,3104.525000,16.0,439.000000,2058,8.666670e+04,8.651934,13.643285,163.826743,43.0,353.0,401,490,510,28,3
Jul,1047,34073.722728,222.0,19664.816667,15728,5.260049e+05,10.660237,19.582716,1773.106673,0.0,904.0,1028,1475,1591,104,66
June,655,17029.424392,160.0,5889.823333,10387,3.494527e+05,10.109304,16.773806,976.734639,0.0,614.0,667,919,1213,47,29
Mar,3600,135838.483159,790.0,58494.868338,37775,1.549024e+06,41.434902,85.051385,7545.613205,0.0,3964.0,4370,5785,6062,481,192
May,6610,233703.101976,1415.0,91376.868009,89105,3.303088e+06,90.379267,164.329829,18111.369911,714.4,7125.0,7969,10546,15060,715,365
Nov,7847,272618.063249,1915.0,130817.544862,138024,5.271677e+06,57.737874,114.530192,21246.628751,0.0,6334.0,6748,9095,13354,791,760
Oct,2042,69140.700580,267.0,21228.142381,18428,6.132207e+05,6.505344,15.927259,4699.322817,0.0,1128.0,1223,1753,2348,144,115
Sep,1494,48977.792121,254.0,16010.101905,14831,5.615179e+05,5.458009,13.583583,3385.457907,0.0,959.0,1114,1476,1493,96,86

**Normalization:**
Normalization is the process of scaling the features so that they have a similar range. There are different techniques for normalization, but we will use Min-Max scaling, which scales the values between 0 and 1 for the "duration" columns

In [98]:
from sklearn.preprocessing import MinMaxScaler

# create a MinMaxScaler object
scaler = MinMaxScaler()

# select the columns to be scaled
cols_to_scale = ['Administrative_Duration', 'Informational_Duration', 'ProductRelated_Duration']

# apply the scaler to the selected columns
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue,total_duration
0,0.0,0.0,0.0,0.0,0.001418,0.000000,1.00,1.00,0.0,0.0,Feb,1.0,1,1,1,Returning_Visitor,False,False,0.000000
1,0.0,0.0,0.0,0.0,0.002837,0.001000,0.00,0.50,0.0,0.0,Feb,2.0,2,1,2,Returning_Visitor,False,False,0.000915
2,0.0,0.0,0.0,0.0,0.001418,0.000000,1.00,1.00,0.0,0.0,Feb,4.0,1,9,3,Returning_Visitor,False,False,0.000000
3,0.0,0.0,0.0,0.0,0.002837,0.000042,0.25,0.70,0.0,0.0,Feb,3.0,2,2,4,Returning_Visitor,False,False,0.000038
4,0.0,0.0,0.0,0.0,0.014184,0.009809,0.10,0.25,0.0,0.0,Feb,3.0,3,1,4,Returning_Visitor,True,False,0.008974

**Feature Construction:**
Feature construction is the process of creating new features from the existing ones. In this example we will create a "Total_Duration" column representing the sum of all durations

In [115]:
df['Total_Duration'] = df['Administrative_Duration'] + df['Informational_Duration'] + df['ProductRelated_Duration']
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue,Total_Duration
0,0,0.0,0.0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1.0,1,1,1,Returning_Visitor,False,False,0.000000
1,0,0.0,0.0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2.0,2,1,2,Returning_Visitor,False,False,64.000000
2,0,0.0,0.0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4.0,1,9,3,Returning_Visitor,False,False,0.000000
3,0,0.0,0.0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3.0,2,2,4,Returning_Visitor,False,False,2.666667
4,0,0.0,0.0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3.0,3,1,4,Returning_Visitor,True,False,627.500000

#### 1.4 Reduce redundant data and perform need based discretization.
One potential area to look at is the "BounceRates" and "ExitRates" columns. These two columns are highly correlated, as both measure the rate at which users leave the website. Let's check the correlation coefficient between these two columns.

In [118]:
df[['BounceRates', 'ExitRates']].corr()

             BounceRates  ExitRates
BounceRates     1.000000   0.913004
ExitRates       0.913004   1.000000

As we can see, the correlation coefficient between "BounceRates" and "ExitRates" is quite high, at 0.91. This suggests that these two variables are measuring essentially the same thing, and we may be able to drop one of them without losing much information. For the purposes of this exercise, let's drop the "BounceRates" column.

In [119]:
df = df.drop(columns=['BounceRates'])
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue,Total_Duration
0,0,0.0,0.0,0.0,1,0.000000,0.20,0.0,0.0,Feb,1.0,1,1,1,Returning_Visitor,False,False,0.000000
1,0,0.0,0.0,0.0,2,64.000000,0.10,0.0,0.0,Feb,2.0,2,1,2,Returning_Visitor,False,False,64.000000
2,0,0.0,0.0,0.0,1,0.000000,0.20,0.0,0.0,Feb,4.0,1,9,3,Returning_Visitor,False,False,0.000000
3,0,0.0,0.0,0.0,2,2.666667,0.14,0.0,0.0,Feb,3.0,2,2,4,Returning_Visitor,False,False,2.666667
4,0,0.0,0.0,0.0,10,627.500000,0.05,0.0,0.0,Feb,3.0,3,1,4,Returning_Visitor,True,False,627.500000

**Need-based discretization**
Now, let's perform need-based discretization on the "ProductRelated_Duration" column. We'll create three new columns: **"Low_Duration"**, **"Medium_Duration"**, and **"High_Duration"**, which will indicate whether the duration is low (less than the 25th percentile), medium (between the 25th and 75th percentile), or high (greater than the 75th percentile).

In [122]:
def duration_discretizer(x):
    if x < np.percentile(df['ProductRelated_Duration'], 25):
        return 'Low_Duration'
    elif x > np.percentile(df['ProductRelated_Duration'], 75):
        return 'High_Duration'
    else:
        return 'Medium_Duration'

df['ProductRelated_Duration_Disc'] = df['ProductRelated_Duration'].apply(duration_discretizer)
df = pd.get_dummies(df, columns=['ProductRelated_Duration_Disc'])

This will create three new columns, "ProductRelated_Duration_Disc_High_Duration", "ProductRelated_Duration_Disc_Low_Duration", and "ProductRelated_Duration_Disc_Medium_Duration", which will be binary (1 if the duration falls into that category, 0 otherwise). Now we have a new column for the discretized "ProductRelated_Duration" variable, which can help us in analysis and modelling

In [123]:
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,ExitRates,PageValues,SpecialDay,Month,...,Total_Duration,ProductRelated_Duration_Disc_High_Duration,ProductRelated_Duration_Disc_Low_Duration,ProductRelated_Duration_Disc_Medium_Duration,ProductRelated_Duration_Disc_High_Duration,ProductRelated_Duration_Disc_Low_Duration,ProductRelated_Duration_Disc_Medium_Duration,ProductRelated_Duration_Disc_High_Duration,ProductRelated_Duration_Disc_Low_Duration,ProductRelated_Duration_Disc_Medium_Duration
0,0,0.0,0.0,0.0,1,0.000000,0.20,0.0,0.0,Feb,...,0.000000,0,1,0,0,1,0,0,1,0
1,0,0.0,0.0,0.0,2,64.000000,0.10,0.0,0.0,Feb,...,64.000000,0,1,0,0,1,0,0,1,0
2,0,0.0,0.0,0.0,1,0.000000,0.20,0.0,0.0,Feb,...,0.000000,0,1,0,0,1,0,0,1,0
3,0,0.0,0.0,0.0,2,2.666667,0.14,0.0,0.0,Feb,...,2.666667,0,1,0,0,1,0,0,1,0
4,0,0.0,0.0,0.0,10,627.500000,0.05,0.0,0.0,Feb,...,627.500000,0,0,1,0,0,1,0,0,1

Data Analysis and Visualization
Identify categorical, ordinal, and numerical variables within data
Provide measures of centrality and distribution with visualizations
Diagnose for correlations between variables and determine independent and dependent variables
Perform exploratory analysis in combination with visualization techniques to discover patterns and features of interest
Data Analytics
Determine the need for a supervised or unsupervised learning method and identify dependent and independent variables
Train, test, and provide accuracy and evaluation metrics for model results
Presentation
In a 5 to 10 minutes video, briefly explain the project workflow from the code and results in your markdown notebook
State your findings from the data and provide the interpretation of results from your analysis at each stage in the project